{
  "port": 27950,
  "host": "0.0.0.0",
  "stunPort": 3478,
  "stunPortSecondary": 3479,
  "turnPort": 3478,
  "turnPortRange": [
    49152,
    65535
  ],
  "turnRealm": "uniquake.com",
  "publicIp": "localhost",
  "publicHostname": "localhost",
  "logLevel": "info",
  "logStunRequests": false,
  "turnLogLevel": "WARNING",
  "pruneInterval": 7200000,
  "credentialTTL": 86400,
  "credentialRotationInterval": 86400000
}